* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    font-size: 12px;
}
body {
    background: #f0eff5;
    font-family: 'popping', sans-serif;
    min-height: 100vh;
    color: #27282f;
}
img {
    width: 100%;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.9rem;
    font-weight: 500;
}
h6 {
    font-size: 7.6rem;
}
p {
    font-size: 00.9rem;
    color: #27282f;
}
small {
    font-weight: 300;
    font-size: 0.77rem;
}
.text-muted {
    color: #86848c;
}
/* .primary {
    color: ;
}
.primary {
    color: ;
}
.primary {
    color: ;
} */
.purple {
    color: color"primary";
}

.logo {
    width: 300px;
    height: 100px;
}

nav {
    width: 100%;
    background: #fff;
    padding: 1rem 0;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
    /* background: black; */
}
nav img.logo {
    width: 9rem;

}
nav .photo {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}
nav .search-bar {
    background: #d1d0d4;
    padding: 4px;
    width: 32vw;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #86848c;
    position: absolute;
    left: 15%;
}
nav .search-bar input[type='search'] {
    color: #27282f;
    background: transparent;
    width: 100%;
}
nav .search-bar input[type='search']::placeholder {
    color: #56555e;
}
nav .profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
nav .profile-area .theme-btn {
    display: flex;
    background: #f0eff5;
    width: 5rem;
    height: 2.5rem;
    border-radius: 6px;
    cursor: pointer;
}
nav .profile-area .theme-btn span {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}
nav .profile-area .theme-btn .active {
    background: #27282f;
    border-radius: 6px;
    color: #fff;
}
nav .profile-area .profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}
/* nav .profile-area .profile-photo {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
} */
nav .profile-area button {
    display: none;
}



main {
    display: grid;
    grid-template-columns: 14rem auto 30rem;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
}
/* main section {
    background: black;
} */
main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}


main aside button#close-btn {
    display: none;
}

main aside .sidebar a {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 4.3rem;
    color: #56555e;
    position: relative;
}
main aside .sidebar a span {
    font-size: 1.7rem;
    margin: 3rem;
}
main aside .sidebar a.active {
    background: #fff;
    color: rgb(71, 7, 234);
}
main aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    background: rgb(71, 7, 234);
}